{% comment %}
  {% if product_variant.size > 1 %}
      <select name="id">
          {% for variant in product_variants %}
              <option value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
          {% endfor %}
      </select>
      {% else %}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">

  {% endif %}
{% endcomment %}
{% comment %} {% if product.variants.size > 1 %}
    <select name="id">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}">
                {{ variant.title }}
            </option>
            {% endfor %}
    </select>
{% else %}
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
{% endif %} {% endcomment %}

<script>
    jQuery(document).ready(function () {
        $(".minus, .plus").click(function () {
            let value = parseInt($(".quantity").text());
            value += $(this).hasClass("plus") ? 1 : value > 1 ? -1 : 0;
            $(".quantity").text(value);
            {% comment %} $("input[name=quantity]").val(value); {% endcomment %}
            $(".quantity-hidden").val(value);

            
            {% if type == 'cart' %}
                $(this).closest("form").submit();
            {% endif %}
        });
       
    }); 

</script>

<div class="flex items-center  gap-5 bg-[#F0F0F0] py-3 px-5 rounded-full mr-5">
    <button type="button" class="minus cursor-pointer">
        <svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.8125 1C15.8125 1.24864 15.7137 1.4871 15.5379 1.66291C15.3621 1.83873 15.1236 1.9375 14.875 1.9375H1.125C0.87636 1.9375 0.637903 1.83873 0.462087 1.66291C0.286272 1.4871 0.1875 1.24864 0.1875 1C0.1875 0.75136 0.286272 0.512903 0.462087 0.337087C0.637903 0.161272 0.87636 0.0625 1.125 0.0625H14.875C15.1236 0.0625 15.3621 0.161272 15.5379 0.337087C15.7137 0.512903 15.8125 0.75136 15.8125 1Z" fill="black"/>
        </svg>
    </button>
    {% comment %} <span class="quantity px-4 text-center"> 1 </span> {% endcomment %}
    <span class="quantity px-4 text-center"> 
        {% if type == 'cart' %}
            {{ quantity }}
          {% else %}
            1
        {% endif %}
    </span>
    {% comment %} <input name="quantity" type="hidden" min="1" value="1" class="text-center focus:outline-none w-full"> {% endcomment %}
    <input name="{% if type == 'cart' %}updates[{{ item_key }}]{% else %}quantity{% endif %}" 
        type="hidden" min="1" value="1" 
        class="text-center focus:outline-none w-full quantity-hidden">
 
 
    {% comment %} <input name=" {% if type == cart %} updates[] {% else %} quantity {% endif %}" type="hidden" min="1" value="1" class="text-center focus:outline-none w-full"> {% endcomment %}

    <button type="button" class="plus cursor-pointer">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.8125 8C15.8125 8.24864 15.7137 8.4871 15.5379 8.66291C15.3621 8.83873 15.1236 8.9375 14.875 8.9375H8.9375V14.875C8.9375 15.1236 8.83873 15.3621 8.66291 15.5379C8.4871 15.7137 8.24864 15.8125 8 15.8125C7.75136 15.8125 7.5129 15.7137 7.33709 15.5379C7.16127 15.3621 7.0625 15.1236 7.0625 14.875V8.9375H1.125C0.87636 8.9375 0.637903 8.83873 0.462087 8.66291C0.286272 8.4871 0.1875 8.24864 0.1875 8C0.1875 7.75136 0.286272 7.5129 0.462087 7.33709C0.637903 7.16127 0.87636 7.0625 1.125 7.0625H7.0625V1.125C7.0625 0.87636 7.16127 0.637903 7.33709 0.462087C7.5129 0.286272 7.75136 0.1875 8 0.1875C8.24864 0.1875 8.4871 0.286272 8.66291 0.462087C8.83873 0.637903 8.9375 0.87636 8.9375 1.125V7.0625H14.875C15.1236 7.0625 15.3621 7.16127 15.5379 7.33709C15.7137 7.5129 15.8125 7.75136 15.8125 8Z" fill="black"/>
        </svg>
    </button>
</div>
